.playlist-details {
  padding: 20px;
}

.duplicates-section {
  margin-top: 20px;
}

.duplicates-section ul {
  list-style-type: none;
  padding: 0;
}

.duplicates-section li {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #17a74a;
}
